*{
    margin: 0 !important; 
}

#footer{
    background: rgb(37, 37, 37) !important;
}
#footer a{
    text-decoration: none;
    color:#b0d5ff;
    font-size: 12px;
}

#header{
    background: #b0d5ff !important;
}

#main input{
     font-size: 12px !important; 
     border-radius: 0;
     border-right: 0;
}
#main button{
    font-size: 12px !important; 
    border-radius: 0;
}

#main{
    min-height: 75vh;
}

#main table{
    font-size: 12px;
}

#main a{
    height: 20px;
}

#main img{
    height: 20px;
}


#main .alert{
    width: 300px;
}